In [1]:
# To find the correct pyspark in 
import findspark
findspark.init()
# import pyspark

In [36]:
import databricks.koalas as ks
import numpy as np
import pandas as pd
import os
import sys

### Read CSV File.

In [4]:
# location of data
data_path = os.path.join('data',
                         'nyc_restaurant_inspection_results_sample1.csv')

In [5]:
# import to kolas df
df = ks.read_csv(data_path)

In [6]:
# import to pandas df
pddf = pd.read_csv(data_path)

### Memory usage

In [7]:
print('koalas memory usage is {m} bytes.'.format(m=sys.getsizeof(df)))
print('pandas memory usage is {m:.2f} megabytes.'.format(m=sys.getsizeof(pddf)/10**6))

koalas memory usage is 56 bytes.
pandas memory usage is 1.27 megabytes.

##  Selecting Rows and Columns
### Using __loc__

In [8]:
df.loc[90:100,'DBA']

90           XIANG ZHI RESTAURANT
91             10 BELOW ICE CREAM
92         NEW H.K. TEA AND SUSHI
93     ELLIE'S DINER & RESTAURANT
94      FORDHAM SEAFOOD & CHICKEN
95                       SAPIENZA
96                SAHARA NEW YORK
97              JERRY'S 637 DINER
98                  SUPREME DINER
99                      PORTOFINO
100               MURPHY'S TAVERN
Name: DBA, dtype: object

### Difference between pandas and koalas in __iloc__ usage

__iloc__ in koalas  does not allow the beginning of the row index to be assigned. 

i.e. __df.iloc[0:100,1]__ or __df.iloc[20:30,1:4]__ will not work in koalas. 

However, __df.iloc[:100,1]__ or __df.iloc[:30,1:4]__ will work.

In [9]:
# In koalas the above selection won't work.
df.iloc[:100,1:4]

                                                DBA           BORO BUILDING
0             GOLDEN KRUST CARIBBEAN BAKERY & GRILL       Brooklyn     1887
1                        CARIBBEAN JERKEE'S DELIGHT       Brooklyn      932
2                                  CARVEL ICE CREAM       Brooklyn     7517
3                                ROYAL KING'S PIZZA       Brooklyn     5211
4                                  NACHO MACHO TACO       Brooklyn       82
5                        JIAN ON CHINESE RESTAURANT         Queens    26805
6                                        BAGEL CLUB         Queens    20521
7                                     LUNA PIZZERIA       Brooklyn     1115
8                        BOHAUS COFFEE  AND FLOWERS       Brooklyn      406
9                                         IL MULINO      Manhattan       86
10                                          DUNKIN'      Manhattan      355
11                                 CORNERSTONE CAFE      Manhattan       17
12                                            MOKJA         Queens     3519
13                                             BESO  Staten Island       11
14                     KRISS WEST INDIAN RESTAURANT         Queens    11204
15                         MIRAGE DINER RESTAURAUNT       Brooklyn      717
16                                          PIETROS      Manhattan      232
17                                            SAPPS         Queens     2726
18                                     PONTY BISTRO      Manhattan      144
19                               NANCY'S RESTAURANT         Queens    25541
20                    CLINTON STREET BAKING COMPANY      Manhattan        4
21                                  REDSTONE ROCKET         Queens     3235
22                            INSOMNIA BAR & LOUNGE         Queens    12705
23                     BERBICE BAR  AND  RESTAURANT         Queens    17306
24                          NO. 1 FLOWER DRUM HOUSE         Queens     2105
25                                       PITA GRILL      Manhattan     1083
26                                            MAITE       Brooklyn      159
27                                        Soul Food       Brooklyn      88A
28                                        PERK KAFE      Manhattan      534
29                             AMERICA GOURMET FOOD      Manhattan      831
30                            GEMINIS II RESTAURANT       Brooklyn      109
31                                     ESS & BENTCH       Brooklyn      313
32                       MUSIC HALL OF WILLIAMSBURG       Brooklyn       66
33               THE ORIGINAL CULPEPPERS RESTAURANT       Brooklyn     1082
34                          CROWN CHICKEN & BISCUIT       Brooklyn      152
35                                     CAFE GOURMET       Brooklyn        9
36              CHINELOS II DELI-GROCERY RESTAURANT      Manhattan      530
37                                      THE BEDFORD       Brooklyn      110
38                             EL CASTILLO DE JAGUA       Brooklyn      679
39                                    MISTER HOTPOT       Brooklyn     5306
40                                   FRANK'S TAVERN       Brooklyn     5511
41                                          POPEYES       Brooklyn     6516
42                                           CHOP'T      Manhattan       24
43                                       HALL / ODO      Manhattan       17
44                                 FU LAI O KITCHEN       Brooklyn     6815
45                                        TAJ KEBAB       Brooklyn      416
46                    COLOMBIAN RESTAURANT & BAKERY       Brooklyn     4823
47                                       SOHO SUSHI      Manhattan      231
48                                    CHICKEN SHACK         Queens     3619
49                                      THE BEDFORD       Brooklyn      110
50                         EAST ONE COFFEE ROASTERS       Brooklyn      384
51                                     MONK MCGINNS      Manhattan       57
52                                    CRAZY WILLY'S         Queens    11710
53                                          BAR 263      Manhattan      203
54                               CHINESE RESTAURANT         Queens     4626
55                            TANKO JAPANESE FUSION         Queens     3805
56                                 BED-STUY FISHFRY       Brooklyn      827
57                               BRASSERIE RUHLMANN      Manhattan       45
58     ORGANIC FOOD, NATURAL JUICES AND COFFEE SHOP         Queens     9706
59                                             IHOP       Brooklyn     2101
60                            TINA'S WHISKEY TAVERN  Staten Island     4060
61                                  TRACEY ANDERSON      Manhattan       90
62                        BLEND SALAD AND JUICE BAR       Brooklyn     1310
63  TASTY DELICIOUS WEST INDIAN BAKERY & RESTAURANT       Brooklyn     1397
64                             HELL'S KITCHEN PIZZA      Manhattan      696
65                                AMBER STEAK HOUSE       Brooklyn      119
66                                         CHOUCHOU      Manhattan      215
67                                EL GIRASOL BAKERY       Brooklyn     3362
68                         EL MONUMENTAL RESTAURANT         Queens    14428
69                                  TAQUERIA LUPITA          Bronx     3550
70                                 JUAN VALDEZ CAFE      Manhattan      140
71                           NEW MING LIANG KITCHEN          Bronx      236
72                                           IHAWAN         Queens     4006
73                                     PIZZA SECRET       Brooklyn       72
74                    DORRIAN'S RED HAND RESTAURANT      Manhattan     1616
75                                  DAVE & BUSTER'S      Manhattan      234
76                                       JAHLOOKOVA      Manhattan     1962
77                                        POSTITANO       Brooklyn    10018
78                      JORDAN SNACK BAR AND BURGER      Manhattan     4419
79                                 SMALLS JAZZ CLUB      Manhattan      183
80                                         BONAFINI       Brooklyn      663
81               GRAND CAFE (Metropolitan Hospital)      Manhattan     1901
82                             NEW TU DO RESTAURANT      Manhattan      102
83                            Villa Pancho Taqueria       Brooklyn      472
84                              NIX MIX COFFEE SHOP         Queens     9017
85                                         DOMINO'S  Staten Island     3902
86                                        CHANG PAI         Queens    16612
87                          JORA RESTAURANT AND BAR         Queens     4746
88                                         DOMINO'S         Queens     2555
89            GLATT CONEY KOSHER CHINESE RESTAURANT       Brooklyn     1558
90                             XIANG ZHI RESTAURANT       Brooklyn     5322
91                               10 BELOW ICE CREAM      Manhattan       10
92                           NEW H.K. TEA AND SUSHI       Brooklyn     2033
93                       ELLIE'S DINER & RESTAURANT          Bronx       58
94                        FORDHAM SEAFOOD & CHICKEN          Bronx     2468
95                                         SAPIENZA         Queens    16424
96                                  SAHARA NEW YORK         Queens     2562
97                                JERRY'S 637 DINER  Staten Island      637
98                                    SUPREME DINER         Queens     8265
99                                        PORTOFINO         Queens    10932

In [10]:
df.loc[:5,['INSPECTION DATE','Census Tract']]

  INSPECTION DATE  Census Tract
0      08/16/2017      102200.0
1      05/17/2017       86000.0
2      01/16/2019        6600.0
3      12/19/2018       10000.0
4      05/24/2017       12901.0
5      07/10/2017      157901.0

In [11]:
(df.loc[(df['Census Tract'] > 10000) &
        (df['BORO'] == 'Brooklyn'),
 ['INSPECTION DATE','Census Tract','BORO']])

    INSPECTION DATE  Census Tract      BORO
0        08/16/2017      102200.0  Brooklyn
1        05/17/2017       86000.0  Brooklyn
4        05/24/2017       12901.0  Brooklyn
7        04/25/2017       55400.0  Brooklyn
8        10/23/2017       27500.0  Brooklyn
15       03/28/2019       41800.0  Brooklyn
26       08/16/2016       42300.0  Brooklyn
27       01/19/2019       31300.0  Brooklyn
30       10/26/2016       50500.0  Brooklyn
31       06/25/2018       33700.0  Brooklyn
32       06/13/2019       55500.0  Brooklyn
33       05/16/2017       80000.0  Brooklyn
34       04/17/2016       30100.0  Brooklyn
37       08/15/2016       51700.0  Brooklyn
38       01/04/2019       79601.0  Brooklyn
39       10/30/2018       10600.0  Brooklyn
40       10/04/2018       69000.0  Brooklyn
41       02/25/2019       25200.0  Brooklyn
45       12/05/2018       48400.0  Brooklyn
49       05/23/2018       51700.0  Brooklyn
56       04/12/2018       31900.0  Brooklyn
59       12/13/2018       69601.0  Brooklyn
62       05/17/2018       19800.0  Brooklyn
63       09/19/2018       97400.0  Brooklyn
65       12/29/2016       57100.0  Brooklyn
67       02/14/2018      118400.0  Brooklyn
73       07/12/2018       12901.0  Brooklyn
80       10/04/2017       79601.0  Brooklyn
83       01/23/2019       19500.0  Brooklyn
89       01/29/2019       45400.0  Brooklyn
92       02/27/2018       28800.0  Brooklyn
112      12/21/2016       74600.0  Brooklyn
119      10/03/2018       79801.0  Brooklyn
124      10/04/2017      110400.0  Brooklyn
129      06/12/2018       56900.0  Brooklyn
134      09/13/2016       13000.0  Brooklyn
136      05/20/2019       21100.0  Brooklyn
140      04/11/2017       43200.0  Brooklyn
142      06/24/2016       52500.0  Brooklyn
145      03/18/2019       76800.0  Brooklyn
152      05/06/2016       86800.0  Brooklyn
155      01/29/2018       28400.0  Brooklyn
159      07/30/2019       43900.0  Brooklyn
164      10/23/2017       74200.0  Brooklyn
165      10/04/2016       49600.0  Brooklyn
178      02/27/2018       50500.0  Brooklyn
179      05/16/2019       22700.0  Brooklyn
182      07/31/2017       51002.0  Brooklyn
183      01/08/2019       44300.0  Brooklyn
187      04/11/2019       13100.0  Brooklyn
190      12/21/2017      118400.0  Brooklyn
197      11/17/2017       55300.0  Brooklyn
201      09/13/2019       35300.0  Brooklyn
206      04/26/2017       28800.0  Brooklyn
209      07/29/2017      114600.0  Brooklyn
220      01/23/2018       51602.0  Brooklyn
222      11/20/2018       37401.0  Brooklyn
237      03/02/2017       18300.0  Brooklyn
248      07/31/2018       40300.0  Brooklyn
249      07/18/2018      119600.0  Brooklyn
256      03/13/2017       10600.0  Brooklyn
258      01/10/2019       34800.0  Brooklyn
265      05/17/2019       44300.0  Brooklyn
268      04/18/2018       24800.0  Brooklyn
271      07/21/2017       62000.0  Brooklyn
274      02/14/2017       89200.0  Brooklyn
279      06/06/2019       79601.0  Brooklyn
286      02/01/2018       43400.0  Brooklyn
287      07/17/2019       69602.0  Brooklyn
290      05/10/2019       28000.0  Brooklyn
294      08/17/2016       10600.0  Brooklyn
299      03/27/2018       76000.0  Brooklyn
308      07/22/2019       42000.0  Brooklyn
325      04/16/2019       11400.0  Brooklyn
332      04/23/2019       91000.0  Brooklyn
345      07/01/2019       51300.0  Brooklyn
348      05/23/2019       55700.0  Brooklyn
349      07/19/2017       59401.0  Brooklyn
361      01/21/2016       12700.0  Brooklyn
366      10/04/2016       49600.0  Brooklyn
377      04/01/2019       43900.0  Brooklyn
382      10/10/2018       51700.0  Brooklyn
385      03/23/2017       58200.0  Brooklyn
390      06/27/2018       12901.0  Brooklyn
400      07/10/2019       77000.0  Brooklyn
405      02/05/2016       69602.0  Brooklyn
410      06/12/2019       34900.0  Brooklyn
413      08/21/2019       44100.0  Brooklyn
419      04/04/2017       30000.0  Brooklyn
421      06/12/2018       39300.0  Brooklyn
423      05/05/2018       20500.0  Brooklyn
430      04/30/2019       20600.0  Brooklyn
433      01/26/2018       55500.0  Brooklyn
445      09/27/2018       19700.0  Brooklyn
451      08/02/2018       53400.0  Brooklyn
452      08/29/2019       78800.0  Brooklyn
459      07/16/2019       53800.0  Brooklyn
461      07/05/2016       10400.0  Brooklyn
465      06/22/2017       13800.0  Brooklyn
467      09/04/2019       88200.0  Brooklyn
468      05/09/2019       62200.0  Brooklyn
469      03/01/2019       35300.0  Brooklyn
470      04/14/2016       51500.0  Brooklyn
474      03/23/2018       55400.0  Brooklyn
484      02/06/2018       80000.0  Brooklyn
488      09/27/2017       15500.0  Brooklyn
501      08/30/2018       12000.0  Brooklyn
503      11/20/2018       26900.0  Brooklyn
507      08/21/2017       90800.0  Brooklyn
511      03/26/2019       24500.0  Brooklyn
518      01/02/2019       49500.0  Brooklyn
521      09/03/2019       41401.0  Brooklyn
523      05/30/2018       49600.0  Brooklyn
524      08/22/2019       43100.0  Brooklyn
525      01/04/2017       64400.0  Brooklyn
526      10/25/2018       55300.0  Brooklyn
528      04/04/2019       43100.0  Brooklyn
534      08/12/2019       12100.0  Brooklyn
540      10/31/2018       69800.0  Brooklyn
551      07/05/2019       83600.0  Brooklyn
554      05/03/2019       44100.0  Brooklyn
555      11/30/2017       20700.0  Brooklyn
556      03/18/2019       25000.0  Brooklyn
558      07/22/2019       38600.0  Brooklyn
563      02/05/2016       51002.0  Brooklyn
564      02/28/2018       87800.0  Brooklyn
566      07/30/2019       43900.0  Brooklyn
567      05/03/2018       11800.0  Brooklyn
577      03/28/2018       55300.0  Brooklyn
582      04/15/2019       25200.0  Brooklyn
585      11/16/2016       69602.0  Brooklyn
588      11/12/2015       12902.0  Brooklyn
590      03/06/2019       14300.0  Brooklyn
597      06/21/2019       18100.0  Brooklyn
600      04/17/2019       36300.0  Brooklyn
610      06/08/2017       34800.0  Brooklyn
615      10/16/2018       23000.0  Brooklyn
621      01/29/2019       89000.0  Brooklyn
622      11/29/2018       19600.0  Brooklyn
629      11/08/2018       57300.0  Brooklyn
641      07/03/2019       50500.0  Brooklyn
645      09/11/2019       13700.0  Brooklyn
646      03/07/2019       18100.0  Brooklyn
654      08/24/2018       67400.0  Brooklyn
669      08/23/2016       16300.0  Brooklyn
673      12/28/2017       52300.0  Brooklyn
680      08/30/2018       18000.0  Brooklyn
682      10/01/2016       36200.0  Brooklyn
683      08/16/2019       13000.0  Brooklyn
685      04/04/2018       19300.0  Brooklyn
698      03/03/2016       52300.0  Brooklyn
699      07/12/2019       81800.0  Brooklyn
700      12/29/2016       57100.0  Brooklyn
702      03/19/2018       46202.0  Brooklyn
704      02/04/2019       49000.0  Brooklyn
705      05/11/2017       39400.0  Brooklyn
712      12/05/2018      107000.0  Brooklyn
722      09/14/2016       55500.0  Brooklyn
727      07/30/2019       18700.0  Brooklyn
729      03/16/2017       49500.0  Brooklyn
730      03/05/2019       60800.0  Brooklyn
731      10/13/2018       80200.0  Brooklyn
735      08/04/2017       86000.0  Brooklyn
738      04/20/2017       48400.0  Brooklyn
765      07/16/2019       55500.0  Brooklyn
767      10/04/2017       24500.0  Brooklyn
773      02/08/2018       31701.0  Brooklyn
780      10/04/2017       32500.0  Brooklyn
791      12/07/2017       55700.0  Brooklyn
805      01/28/2017       86000.0  Brooklyn
808      01/23/2018       11800.0  Brooklyn
811      03/09/2017       50300.0  Brooklyn
819      03/19/2019       51001.0  Brooklyn
820      04/18/2018      115600.0  Brooklyn
823      02/11/2019       16900.0  Brooklyn
829      06/15/2016       47400.0  Brooklyn
832      11/16/2016      122000.0  Brooklyn
837      02/12/2018       10800.0  Brooklyn
840      08/08/2019       13700.0  Brooklyn
846      12/13/2017       13100.0  Brooklyn
848      04/19/2017       56900.0  Brooklyn
850      06/06/2019       30000.0  Brooklyn
860      07/12/2018       11900.0  Brooklyn
865      03/29/2017       90000.0  Brooklyn
872      10/25/2017       52300.0  Brooklyn
876      08/06/2019       13800.0  Brooklyn
877      03/13/2018       32100.0  Brooklyn
878      07/24/2018       11800.0  Brooklyn
879      07/12/2019       79601.0  Brooklyn
880      02/05/2019       94600.0  Brooklyn
883      08/13/2019       80200.0  Brooklyn
887      09/19/2016       10800.0  Brooklyn
900      03/06/2019       42300.0  Brooklyn
905      10/05/2018       10400.0  Brooklyn
906      09/07/2017       51601.0  Brooklyn
910      07/31/2019       69602.0  Brooklyn
911      02/15/2018       79000.0  Brooklyn
912      08/17/2018       15500.0  Brooklyn
927      01/02/2019       69602.0  Brooklyn
930      08/28/2019       38600.0  Brooklyn
932      10/16/2018       60600.0  Brooklyn
933      07/31/2018       35200.0  Brooklyn
951      08/16/2018       90600.0  Brooklyn
952      04/05/2017       43400.0  Brooklyn
962      09/06/2019       51900.0  Brooklyn
973      08/21/2019       58000.0  Brooklyn
975      06/05/2019       56900.0  Brooklyn
976      03/16/2017       10800.0  Brooklyn
981      04/16/2019       54200.0  Brooklyn
983      07/09/2016       82400.0  Brooklyn
990      03/01/2019       14500.0  Brooklyn
992      05/05/2017       49600.0  Brooklyn
994      09/05/2019       50803.0  Brooklyn
996      12/06/2017       29900.0  Brooklyn
998      04/29/2019       17700.0  Brooklyn

## Column Manipulations

### Change column names

In [12]:
print(df.columns)

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [15]:
# change column name to lower case and replace ' ' with '_'.
df.columns = [ name.lower().replace(' ','_') for name in df.columns]
df.columns

Index(['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
       'cuisine_description', 'inspection_date', 'action', 'violation_code',
       'violation_description', 'critical_flag', 'score', 'grade',
       'grade_date', 'record_date', 'inspection_type', 'latitude', 'longitude',
       'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
       'nta'],
      dtype='object')

In [16]:
df.head()

      camis                                    dba      boro building            street  zipcode       phone cuisine_description inspection_date                                           action violation_code                              violation_description critical_flag  score grade  grade_date record_date                        inspection_type   latitude  longitude  community_board  council_district  census_tract        bin           bbl   nta
0  41687715  GOLDEN KRUST CARIBBEAN BAKERY & GRILL  Brooklyn     1887  ROCKAWAY PARKWAY  11236.0  7182094242           Caribbean      08/16/2017  Violations were cited in the following area(s).            02H  Food not cooled by an approved method whereby ...             Y   43.0     C  08/16/2017  09/18/2019       Cycle Inspection / Re-inspection  40.636304 -73.892472            318.0              46.0      102200.0  3233728.0  3.082810e+09  BK50
1  50001450             CARIBBEAN JERKEE'S DELIGHT  Brooklyn      932         UTICA AVE  11203.0  5163438092           Caribbean      05/17/2017  Violations were cited in the following area(s).            10F  Non-food contact surface improperly constructe...             N   11.0     A  05/17/2017  09/18/2019       Cycle Inspection / Re-inspection  40.650458 -73.930256            317.0              45.0       86000.0  3102839.0  3.046970e+09  BK91
2  50013528                       CARVEL ICE CREAM  Brooklyn     7517           3RD AVE  11209.0  7187455200            American      01/16/2019  Violations were cited in the following area(s).            04K  Evidence of rats or live rats present in facil...             Y   10.0     A  01/16/2019  09/18/2019  Cycle Inspection / Initial Inspection  40.631268 -74.027856            310.0              43.0        6600.0  3148708.0  3.059400e+09  BK31
3  40396492                     ROYAL KING'S PIZZA  Brooklyn     5211          5 AVENUE  11220.0  7184923846               Pizza      12/19/2018  Violations were cited in the following area(s).            04L  Evidence of mice or live mice present in facil...             Y   12.0     A  12/19/2018  09/18/2019  Cycle Inspection / Initial Inspection  40.643850 -74.011603            307.0              38.0       10000.0  3013939.0  3.008080e+09  BK34
4  50058248                       NACHO MACHO TACO  Brooklyn       82           5TH AVE  11217.0  7186228282             Mexican      05/24/2017  Violations were cited in the following area(s).            06F  Wiping cloths soiled or not stored in sanitizi...             Y   25.0  None        None  09/18/2019  Cycle Inspection / Initial Inspection  40.680557 -73.977661            306.0              39.0       12901.0  3018668.0  3.009340e+09  BK37

### Change column type

In [17]:
df.inspection_date = df.inspection_date.astype(str)

### Creating New Columns 
 Using __DataFrame.assign__, a new column can be created but it will also generate the new dataframe where the new column is attached to the previous dataframe. In the following, we convert *inspection_date* column from __str__ to __datetime__ column.

In [132]:
df_new  = df.assign(inspection_date_dt = lambda x : ks.to_datetime(x.inspection_date,
                                                        format='%m/%d/%Y',
                                                         errors='coerce'))
df_new.head(3)

      camis                                    dba      boro building            street  zipcode       phone cuisine_description inspection_date                                           action violation_code                              violation_description critical_flag  score grade  grade_date record_date                        inspection_type   latitude  longitude  community_board  council_district  census_tract        bin           bbl   nta inspection_date_dt
0  41687715  GOLDEN KRUST CARIBBEAN BAKERY & GRILL  Brooklyn     1887  ROCKAWAY PARKWAY  11236.0  7182094242           Caribbean      08/16/2017  Violations were cited in the following area(s).            02H  Food not cooled by an approved method whereby ...             Y   43.0     C  08/16/2017  09/18/2019       Cycle Inspection / Re-inspection  40.636304 -73.892472            318.0              46.0      102200.0  3233728.0  3.082810e+09  BK50         2017-08-16
1  50001450             CARIBBEAN JERKEE'S DELIGHT  Brooklyn      932         UTICA AVE  11203.0  5163438092           Caribbean      05/17/2017  Violations were cited in the following area(s).            10F  Non-food contact surface improperly constructe...             N   11.0     A  05/17/2017  09/18/2019       Cycle Inspection / Re-inspection  40.650458 -73.930256            317.0              45.0       86000.0  3102839.0  3.046970e+09  BK91         2017-05-17
2  50013528                       CARVEL ICE CREAM  Brooklyn     7517           3RD AVE  11209.0  7187455200            American      01/16/2019  Violations were cited in the following area(s).            04K  Evidence of rats or live rats present in facil...             Y   10.0     A  01/16/2019  09/18/2019  Cycle Inspection / Initial Inspection  40.631268 -74.027856            310.0              43.0        6600.0  3148708.0  3.059400e+09  BK31         2019-01-16

In [19]:
df_new['inspection_date_dt']

0     2017-08-16
1     2017-05-17
2     2019-01-16
3     2018-12-19
4     2017-05-24
5     2017-07-10
6     2019-08-12
7     2017-04-25
8     2017-10-23
9     2016-09-26
10    2016-04-15
11    2019-01-25
12    2018-01-03
13    2019-02-20
14    2017-10-30
15    2019-03-28
16    2016-11-02
17    2018-12-07
18    2019-07-31
19    2019-08-01
20    2019-04-26
21    2017-12-06
22    2019-08-31
23    2018-10-03
24    2017-01-05
25    2018-11-07
26    2016-08-16
27    2019-01-19
28    2019-04-16
29    2016-11-09
30    2016-10-26
31    2018-06-25
32    2019-06-13
33    2017-05-16
34    2016-04-17
35    2018-05-24
36    2016-08-10
37    2016-08-15
38    2019-01-04
39    2018-10-30
40    2018-10-04
41    2019-02-25
42    2018-11-05
43    2018-12-04
44    2016-09-07
45    2018-12-05
46    2019-08-08
47    2018-06-28
48    2019-04-12
49    2018-05-23
50    2018-12-31
51    2019-08-02
52    2019-09-12
53    2017-11-06
54    2019-02-07
55    2018-07-12
56    2018-04-12
57    2017-08-11
58    2019-05-23
59    2018-12-13
60    2017-08-29
61    2018-04-11
62    2018-05-17
63    2018-09-19
64    2019-05-02
65    2016-12-29
66    2018-03-02
67    2018-02-14
68    2019-03-30
69    2018-04-02
70    2017-11-14
71    2017-03-29
72    2017-03-28
73    2018-07-12
74    2018-11-08
75    2019-07-08
76    2017-12-13
77    2016-10-28
78    2019-01-15
79    2017-04-21
80    2017-10-04
81    2016-07-28
82    2017-05-16
83    2019-01-23
84    2018-12-07
85    2018-04-18
86    2019-03-25
87    2016-11-10
88    2016-08-16
89    2019-01-29
90    2018-07-10
91    2016-05-24
92    2018-02-27
93    2019-07-12
94    2019-02-01
95    2019-01-31
96    2019-06-24
97    2018-04-11
98    2017-08-16
99    2018-04-06
100   2016-06-13
101   2019-02-12
102   2017-11-01
103   2019-04-11
104   2015-10-21
105   2018-01-24
106   2017-12-20
107   2016-02-03
108   2016-08-30
109   2017-07-20
110   2017-02-25
111   2019-04-23
112   2016-12-21
113   2019-03-04
114   2018-04-11
115   2018-02-16
116   2018-10-22
117   2018-08-29
118   2018-02-14
119   2018-10-03
120   2018-03-16
121   2019-07-05
122   2016-08-15
123   2019-09-03
124   2017-10-04
125   2017-05-25
126   2018-10-26
127   2018-12-06
128   2018-03-13
129   2018-06-12
130   2019-06-04
131   2019-03-18
132   2017-12-21
133   2019-04-01
134   2016-09-13
135   2018-06-08
136   2019-05-20
137   2017-08-31
138   2018-11-03
139   2017-03-27
140   2017-04-11
141   2017-05-12
142   2016-06-24
143   2018-06-29
144   2018-10-11
145   2019-03-18
146   2018-09-17
147   2016-11-02
148   2017-01-03
149   2018-07-11
150   2019-05-29
151   2019-05-20
152   2016-05-06
153   2017-02-10
154   2018-06-01
155   2018-01-29
156   2019-03-26
157   2017-08-29
158   2016-11-01
159   2019-07-30
160   2018-07-10
161   2016-11-04
162   2017-08-28
163   2018-06-26
164   2017-10-23
165   2016-10-04
166   2019-01-09
167   2018-07-10
168   2016-10-07
169   2017-08-14
170   2019-02-23
171   2018-10-26
172   2016-11-15
173   2018-04-18
174   2017-04-05
175   2019-06-18
176   2016-12-07
177   2016-05-14
178   2018-02-27
179   2019-05-16
180   2017-07-11
181   2018-02-14
182   2017-07-31
183   2019-01-08
184   2019-08-26
185   2018-02-17
186   2017-02-14
187   2019-04-11
188   2017-12-27
189   2019-07-18
190   2017-12-21
191   2018-01-22
192   2019-06-18
193   2016-10-03
194   2018-07-09
195   2015-12-23
196   2016-11-16
197   2017-11-17
198   2017-02-15
199   2019-03-28
200   2017-06-02
201   2019-09-13
202   2017-09-12
203   2017-01-19
204   2017-04-13
205   2018-08-13
206   2017-04-26
207   2019-08-26
208   2018-12-27
209   2017-07-29
210   2017-06-12
211   2019-07-15
212   2018-05-09
213   2019-04-24
214   2017-02-03
215   2016-10-19
216   2018-12-24
217   2018-03-02
218   2019-05-13
219   2019-02-06
220   2018-01-23
221   2018-03-03
222   2018-11-20
223   2018-07-03
224   2019-08-27
225   2018-01-19
226   2016-07-28
227   2017-11-02
228   2017-07-26
229   2018-09-05
230   2016-08-29
231   2016-09-08
232   2016-10-19
233   2018-07-12
234   2018-01-24
235   2016-04-21
236   2016-06-14
237   2017-03-02
238   2018-11-28
239   2018-08-30
240   2017-08-02
241   2016-11-02
242   2018-04-03
243   2019-08-02
244   2017-04-28
245   2017-09-01
246   2019-04-18
247   2018-03-20
248   2018-07-31
249   2018-07-18
250   2018-07-20
251   2019-04-18
252   2018-12-27
253   2019-08-16
254   2017-06-16
255   2018-04-24
256   2017-03-13
257   2017-02-08
258   2019-01-10
259   2019-06-25
260   2019-05-10
261   2019-02-25
262   2018-10-16
263   2019-07-18
264   2019-08-29
265   2019-05-17
266   2019-01-02
267   2018-06-14
268   2018-04-18
269   2019-06-28
270   2016-09-29
271   2017-07-21
272   2018-10-24
273   2018-07-13
274   2017-02-14
275   2015-12-30
276   2019-06-27
277   2017-12-11
278   2018-01-09
279   2019-06-06
280   2018-06-18
281   2018-11-20
282   2019-01-10
283   2018-07-16
284   2018-06-14
285   2019-02-21
286   2018-02-01
287   2019-07-17
288   2017-06-22
289   2017-06-28
290   2019-05-10
291   2017-05-11
292   2019-04-30
293   2017-12-06
294   2016-08-17
295   2017-10-20
296   2018-06-14
297   2019-08-05
298   2017-10-26
299   2018-03-27
300   2019-02-27
301   2016-06-02
302   2016-07-20
303   2019-05-28
304   2018-09-04
305   2018-10-24
306   2016-03-07
307   2016-10-17
308   2019-07-22
309   2018-02-06
310   2019-07-30
311   2018-03-29
312   2019-01-09
313   2017-10-30
314   2016-11-18
315   2019-03-25
316   2019-07-25
317   2018-04-24
318   2018-07-09
319   2019-02-04
320   2018-03-14
321   2017-03-07
322   2019-06-11
323   2017-12-26
324   2016-09-21
325   2019-04-16
326   2019-06-20
327   2018-01-03
328   2018-01-25
329   2016-08-02
330   2018-06-11
331   2017-06-15
332   2019-04-23
333   2018-07-06
334   2018-02-01
335   2017-04-10
336   2017-02-06
337   2018-08-22
338   2018-03-12
339   2016-11-15
340   2018-03-14
341   2018-03-23
342   2018-10-02
343   2018-04-03
344   2017-10-06
345   2019-07-01
346   2019-08-14
347   2019-04-12
348   2019-05-23
349   2017-07-19
350   2016-09-21
351   2016-11-10
352   2018-10-04
353   2018-08-09
354   2017-12-28
355   2019-07-30
356   2019-03-26
357   2017-07-20
358   2018-11-28
359   2019-06-28
360   2018-01-19
361   2016-01-21
362   2018-05-16
363   2017-07-13
364   2018-05-24
365   2017-04-27
366   2016-10-04
367   2016-03-02
368   2018-01-03
369   2017-09-18
370   2017-07-13
371   2017-01-31
372   2016-10-19
373   2017-10-12
374   2017-05-17
375   2019-01-17
376   2019-06-17
377   2019-04-01
378   2019-02-28
379   2018-10-24
380   2018-10-11
381   2018-05-04
382   2018-10-10
383   2017-06-21
384   2018-04-09
385   2017-03-23
386   2017-08-14
387   2018-03-23
388   2018-03-06
389   2018-04-03
390   2018-06-27
391   2018-06-01
392   2019-09-13
393   2016-12-14
394   2017-05-22
395   2019-08-20
396   2018-03-05
397   2019-06-04
398   2018-10-04
399   2017-09-15
400   2019-07-10
401   2019-06-24
402   2018-01-08
403   2017-04-14
404   2018-07-06
405   2016-02-05
406   2015-10-23
407   2018-02-01
408   2018-09-19
409   2017-05-11
410   2019-06-12
411   2019-02-22
412   2017-08-30
413   2019-08-21
414   2016-10-13
415   2018-11-16
416   2018-06-06
417   2017-12-13
418   2019-06-11
419   2017-04-04
420   2018-05-23
421   2018-06-12
422   2018-04-12
423   2018-05-05
424   2017-01-17
425   2019-08-16
426   2016-02-04
427   2019-06-24
428   2019-07-16
429   2018-11-07
430   2019-04-30
431   2019-01-14
432   2017-12-27
433   2018-01-26
434   2017-06-08
435   2017-09-29
436   2018-11-02
437   2018-10-24
438   2017-11-22
439   2018-07-25
440   2019-03-19
441   2017-11-15
442   2017-10-12
443   2016-11-22
444   2019-02-27
445   2018-09-27
446   2016-11-02
447   2017-08-10
448   2019-08-14
449   2017-04-07
450   2019-07-24
451   2018-08-02
452   2019-08-29
453   2019-08-23
454   2017-11-01
455   2018-01-19
456   2017-09-25
457   2018-05-10
458   2019-03-25
459   2019-07-16
460   2016-08-04
461   2016-07-05
462   2019-04-25
463   2019-05-23
464   2017-04-13
465   2017-06-22
466   2016-11-28
467   2019-09-04
468   2019-05-09
469   2019-03-01
470   2016-04-14
471   2017-07-20
472   2018-10-18
473   2017-12-28
474   2018-03-23
475   2018-06-19
476   2017-11-13
477   2018-07-02
478   2017-09-05
479   2017-06-23
480   2018-01-03
481   2017-04-13
482   2018-03-16
483   2018-04-18
484   2018-02-06
485   2019-02-15
486   2018-06-28
487   2019-05-29
488   2017-09-27
489   2018-06-02
490   2016-10-29
491   2018-02-05
492   2018-02-20
493   2019-06-06
494   2019-05-14
495   2019-06-22
496   2017-08-29
497   2018-08-28
498   2016-09-30
499   2018-02-27
500   2019-03-11
501   2018-08-30
502   2019-05-23
503   2018-11-20
504   2018-04-18
505   2019-01-22
506   2017-09-07
507   2017-08-21
508   2016-11-15
509   2019-02-13
510   2019-02-26
511   2019-03-26
512   2019-08-28
513   2017-08-24
514   2019-02-26
515   2019-06-28
516   2018-07-16
517   2018-01-02
518   2019-01-02
519   2018-05-04
520   2017-02-01
521   2019-09-03
522   2017-05-26
523   2018-05-30
524   2019-08-22
525   2017-01-04
526   2018-10-25
527   2018-12-17
528   2019-04-04
529   2016-09-13
530   2019-01-14
531   2017-10-03
532   2017-12-18
533   2017-05-04
534   2019-08-12
535   2019-07-12
536   2017-06-19
537   2017-05-02
538   2019-02-21
539   2017-05-03
540   2018-10-31
541   2019-04-04
542   2016-06-23
543   2017-07-20
544   2018-10-17
545   2018-12-04
546   2017-10-24
547   2019-07-03
548   2019-02-19
549   2016-10-31
550   2017-12-20
551   2019-07-05
552   2019-05-24
553   2017-09-13
554   2019-05-03
555   2017-11-30
556   2019-03-18
557   2018-08-01
558   2019-07-22
559   2017-10-20
560   2019-03-14
561   2019-06-08
562   2018-06-04
563   2016-02-05
564   2018-02-28
565   2019-09-10
566   2019-07-30
567   2018-05-03
568   2019-06-17
569   2018-10-29
570   2017-09-28
571   2018-03-21
572   2017-12-26
573   2019-03-20
574   2017-07-31
575   2018-12-18
576   2018-02-21
577   2018-03-28
578   2017-09-20
579   2018-10-29
580   2018-03-20
581   2019-05-02
582   2019-04-15
583   2017-11-15
584   2019-04-22
585   2016-11-16
586   2018-09-24
587   2018-03-01
588   2015-11-12
589   2018-07-10
590   2019-03-06
591   2019-07-29
592   2019-05-14
593   2016-12-07
594   2018-06-04
595   2018-09-10
596   2018-05-17
597   2019-06-21
598   2018-06-06
599   2018-06-27
600   2019-04-17
601   2018-09-25
602   2017-02-13
603   2019-08-06
604   2018-09-25
605   2018-11-01
606   2019-03-30
607   2017-05-10
608   2016-03-08
609   2018-12-31
610   2017-06-08
611   2018-06-23
612   2019-08-06
613   2019-02-06
614   2018-07-27
615   2018-10-16
616   2019-07-10
617   2018-04-23
618   2019-07-29
619   2017-07-20
620   2019-04-29
621   2019-01-29
622   2018-11-29
623   2016-04-05
624   2019-09-09
625   2019-01-15
626   2019-02-26
627   2019-09-05
628   2016-09-27
629   2018-11-08
630   2017-11-08
631   2018-03-02
632   2018-06-05
633   2018-09-28
634   2016-06-22
635   2017-06-15
636   2018-12-31
637   2019-03-25
638   2017-12-05
639   2019-01-09
640   2018-01-11
641   2019-07-03
642   2016-11-16
643   2018-02-23
644   2017-02-01
645   2019-09-11
646   2019-03-07
647   2016-02-29
648   2018-03-06
649   2019-05-30
650   2019-05-01
651   2018-07-17
652   2018-05-09
653   2017-07-07
654   2018-08-24
655   2019-05-06
656   2018-06-07
657   2019-01-31
658   2018-12-18
659   2018-01-29
660   2016-10-21
661   2016-06-24
662   2019-04-17
663   2017-07-14
664   2018-04-19
665   2017-05-01
666   2017-07-27
667   2018-11-14
668   2018-09-18
669   2016-08-23
670   2016-03-07
671   2019-07-25
672   2018-04-23
673   2017-12-28
674   2019-04-06
675   2019-09-03
676   2019-07-29
677   2019-08-15
678   2016-10-04
679   2019-02-27
680   2018-08-30
681   2016-09-02
682   2016-10-01
683   2019-08-16
684   2019-09-03
685   2018-04-04
686   2019-03-01
687   2018-05-10
688   2016-12-29
689   2019-08-12
690   2017-06-22
691   2019-06-07
692   2019-07-02
693   2017-10-31
694   2019-05-23
695   2016-06-09
696   2018-01-24
697   2017-10-26
698   2016-03-03
699   2019-07-12
700   2016-12-29
701   2017-09-20
702   2018-03-19
703   2018-02-06
704   2019-02-04
705   2017-05-11
706   2017-09-12
707   2019-06-20
708   2018-08-24
709   2018-11-14
710   2018-11-16
711   2018-05-23
712   2018-12-05
713   2018-05-03
714   2019-04-06
715   2019-07-31
716   2017-12-06
717   2018-08-14
718   2018-12-21
719   2018-02-26
720   2018-06-25
721   2019-05-30
722   2016-09-14
723   2018-10-31
724   2017-05-09
725   2017-11-17
726   2019-07-03
727   2019-07-30
728   2017-12-21
729   2017-03-16
730   2019-03-05
731   2018-10-13
732   2016-08-17
733   2019-01-15
734   2018-05-17
735   2017-08-04
736   2018-11-28
737   2017-08-28
738   2017-04-20
739   2017-09-14
740   2019-04-18
741   2016-11-22
742   2017-10-12
743   2018-01-18
744   2016-09-06
745   2018-01-17
746   2017-10-25
747   2018-07-30
748   2018-01-31
749   2017-12-11
750   2016-09-21
751   2019-05-02
752   2019-08-13
753   2018-12-20
754   2019-07-18
755   2019-02-07
756   2017-12-26
757   2019-05-07
758   2018-08-06
759   2016-12-16
760   2018-12-26
761   2019-03-18
762   2018-09-17
763   2019-06-25
764   2019-08-01
765   2019-07-16
766   2017-09-06
767   2017-10-04
768   2017-09-22
769   2016-11-19
770   2019-02-26
771   2018-07-17
772   2018-04-27
773   2018-02-08
774   2019-07-24
775   2019-01-11
776   2018-05-01
777   2017-01-18
778   2018-02-13
779   2017-07-31
780   2017-10-04
781   2018-12-12
782   2017-07-26
783   2018-02-01
784   2019-05-16
785   2018-08-09
786   2019-06-25
787   2019-07-30
788   2018-10-17
789   2017-10-03
790   2017-02-09
791   2017-12-07
792   2018-03-06
793   2019-07-18
794   2017-12-27
795   2018-09-18
796   2016-08-12
797   2018-07-19
798   2017-08-31
799   2016-09-27
800   2019-01-07
801   2018-12-11
802   2019-07-29
803   2017-11-15
804   2016-11-02
805   2017-01-28
806   2017-12-28
807   2019-03-28
808   2018-01-23
809   2019-02-27
810   2018-11-01
811   2017-03-09
812   2018-07-12
813   2018-10-30
814   2019-07-19
815   2018-04-18
816   2019-07-18
817   2017-08-03
818   2018-04-24
819   2019-03-19
820   2018-04-18
821   2017-04-06
822   2019-04-04
823   2019-02-11
824   2018-07-11
825   2016-10-18
826   2018-06-18
827   2017-03-04
828   2019-04-23
829   2016-06-15
830   2018-04-24
831   2019-06-20
832   2016-11-16
833   2018-12-18
834   2017-09-14
835   2018-08-02
836   2019-08-27
837   2018-02-12
838   2016-04-28
839   2019-03-26
840   2019-08-08
841   2016-04-26
842   2018-07-31
843   2017-06-13
844   2019-01-12
845   2019-06-24
846   2017-12-13
847   2017-03-01
848   2017-04-19
849   2017-05-18
850   2019-06-06
851   2018-05-31
852   2017-03-28
853   2018-01-03
854   2018-03-28
855   2016-07-11
856   2017-07-26
857   2018-10-11
858   2018-02-28
859   2017-10-12
860   2018-07-12
861   2018-07-13
862   2018-08-30
863   2018-03-27
864   2017-10-13
865   2017-03-29
866   2016-10-03
867   2018-11-01
868   2019-08-06
869   2019-02-27
870   2019-05-01
871   2017-06-22
872   2017-10-25
873   2019-03-18
874   2017-10-16
875   2019-04-17
876   2019-08-06
877   2018-03-13
878   2018-07-24
879   2019-07-12
880   2019-02-05
881   2018-12-07
882   2018-08-16
883   2019-08-13
884   2018-01-19
885   2018-06-25
886   2018-02-14
887   2016-09-19
888   2019-03-06
889   2018-11-14
890   2019-08-23
891   2018-04-18
892   2017-07-06
893   2017-02-08
894   2017-11-15
895   2019-06-11
896   2016-06-22
897   2018-11-20
898   2017-07-28
899   2017-03-16
900   2019-03-06
901   2019-09-16
902   2016-07-07
903   2016-05-16
904   2018-06-01
905   2018-10-05
906   2017-09-07
907   2019-04-03
908   2016-10-20
909   2017-02-09
910   2019-07-31
911   2018-02-15
912   2018-08-17
913   2017-06-22
914   2017-07-24
915   2017-11-30
916   2017-06-29
917   2018-12-06
918   2018-10-26
919   2019-06-12
920   2018-09-28
921   2018-04-02
922   2017-04-03
923   2018-10-15
924   2018-10-31
925   2018-04-23
926   2016-12-05
927   2019-01-02
928   2019-01-04
929   2018-10-05
930   2019-08-28
931   2019-02-02
932   2018-10-16
933   2018-07-31
934   2018-02-23
935   2016-11-21
936   2016-08-09
937   2019-05-02
938   2018-04-11
939   2017-07-05
940   2019-05-09
941   2018-06-14
942   2019-06-18
943   2018-09-24
944   2019-05-15
945   2019-08-01
946   2019-07-09
947   2017-06-14
948   2018-02-26
949   2018-10-30
950   2019-02-01
951   2018-08-16
952   2017-04-05
953   2018-02-17
954   2018-02-21
955   2017-09-19
956   2018-11-15
957   2019-01-22
958   2018-08-21
959   2019-05-02
960   2017-11-03
961   2016-06-15
962   2019-09-06
963   2016-11-02
964   2017-06-26
965   2019-05-07
966   2017-06-12
967   2017-04-20
968   2019-06-03
969   2019-01-04
970   2017-09-21
971   2019-07-23
972   2019-09-09
973   2019-08-21
974   2017-07-31
975   2019-06-05
976   2017-03-16
977   2018-02-21
978   2018-05-02
979   2017-01-26
980   2017-11-06
981   2019-04-16
982   2018-11-19
983   2016-07-09
984   2016-09-26
985   2019-02-19
986   2019-06-18
987   2019-04-08
988   2018-05-09
989   2017-09-25
990   2019-03-01
991   2016-09-08
992   2017-05-05
993   2019-01-02
994   2019-09-05
995   2018-03-20
996   2017-12-06
997   2018-11-21
998   2019-04-29
999   2018-01-29
Name: inspection_date_dt, dtype: datetime64[ns]

### Filter By Datetime

In [20]:
df_new.loc[df_new['inspection_date_dt'].dt.year > 2017 ].head()

       camis                 dba       boro building    street  zipcode       phone cuisine_description inspection_date                                           action violation_code                              violation_description critical_flag  score grade  grade_date record_date                           inspection_type   latitude  longitude  community_board  council_district  census_tract        bin           bbl   nta inspection_date_dt
2   50013528    CARVEL ICE CREAM   Brooklyn     7517   3RD AVE  11209.0  7187455200            American      01/16/2019  Violations were cited in the following area(s).            04K  Evidence of rats or live rats present in facil...             Y   10.0     A  01/16/2019  09/18/2019     Cycle Inspection / Initial Inspection  40.631268 -74.027856            310.0              43.0        6600.0  3148708.0  3.059400e+09  BK31         2019-01-16
3   40396492  ROYAL KING'S PIZZA   Brooklyn     5211  5 AVENUE  11220.0  7184923846               Pizza      12/19/2018  Violations were cited in the following area(s).            04L  Evidence of mice or live mice present in facil...             Y   12.0     A  12/19/2018  09/18/2019     Cycle Inspection / Initial Inspection  40.643850 -74.011603            307.0              38.0       10000.0  3013939.0  3.008080e+09  BK34         2018-12-19
6   50092588          BAGEL CLUB     Queens    20521  35TH AVE  11361.0  7184236106     Bagels/Pretzels      08/12/2019  Violations were cited in the following area(s).            06F  Wiping cloths soiled or not stored in sanitizi...             Y   30.0     Z  08/12/2019  09/18/2019  Pre-permit (Operational) / Re-inspection  40.766748 -73.782586            411.0              19.0      109900.0  4135513.0  4.060900e+09  QN46         2019-08-12
11  41586413    CORNERSTONE CAFE  Manhattan       17  AVENUE B  10009.0  2122281260            American      01/25/2019  Violations were cited in the following area(s).            08A  Facility not vermin proof. Harborage or condit...             N   10.0     A  01/25/2019  09/18/2019          Cycle Inspection / Re-inspection  40.722106 -73.983361            103.0               2.0        2202.0  1004587.0  1.003850e+09  MN28         2019-01-25
12  50018980               MOKJA     Queens     3519  BROADWAY  11106.0  7187210654              Korean      01/03/2018  Violations were cited in the following area(s).            04N  Filth flies or food/refuse/sewage-associated (...             Y   10.0  None        None  09/18/2019     Cycle Inspection / Initial Inspection  40.760372 -73.921968            401.0              22.0        6100.0  4009761.0  4.006480e+09  QN70         2018-01-03

In [21]:
df_new['boro'].value_counts()

Manhattan        396
Brooklyn         272
Queens           213
Bronx             88
Staten Island     31
Name: boro, dtype: int64

### Currently index to list is not available. So the workaround is to convert the index to a column and then convert to a list. 
We have about 59 different descriptions for `cuisine_description` (`['American', 'Chinese', 'Pizza', 'Italian',...` ) and we are going to keep the top five descriptions and replace the reset with 'other'.

In [63]:
# 59 unique cuisine description.
# ks.unique is not working right now. 
df_new['cuisine_description'].value_counts().shape

(59,)

In [125]:
top5_cuisines = (df_new['cuisine_description']
                .value_counts()
                .head(5)
                .reset_index().iloc[:,0].tolist())
print(top5_cuisines)

['American', 'Chinese', 'Pizza', 'Italian', 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)']

In [133]:
# Function has to have return type hint. This is different from pandas.
def replace_cuisines(x,list2exclude) -> str:
    if x not in list2exclude:
        x = 'other'
    return x

In [175]:
# add new column and reasign to the previous dataframe df_new
df_new = df_new.assign(cuisine_mod = df_new.cuisine_description
              .apply(replace_cuisines, args=(top5_cuisines,)))

## Save File

In [179]:
# Write a file to a folder named 'data'.
df_new.to_csv(os.path.join('data','sample_mod.csv'))

## Merge, Join & Concatenate

In [214]:
file1 = os.path.join('data','nyc_restaurant_inspection_results_sample1.csv')
file2 = os.path.join('data','nyc_restaurant_inspection_results_sample2.csv')
df1 = ks.read_csv(file1)
df2 = ks.read_csv(file2)
                 
print('df1 dimension = {}'.format(df1.shape))
print('df2 dimension = {}'.format(df2.shape))

df1 dimension = (600, 26)
df2 dimension = (500, 26)

In [215]:
join_df = df1.append(df2,ignore_index=True )

In [216]:
print(join_df.shape)

(1100, 26)

In [219]:
df1.iloc[:100,:3].join(df2.iloc[:100,2:4],
                       rsuffix='_right')

       CAMIS                                              DBA           BORO     BORO_right BUILDING
0   41687715            GOLDEN KRUST CARIBBEAN BAKERY & GRILL       Brooklyn      Manhattan       34
1   50001450                       CARIBBEAN JERKEE'S DELIGHT       Brooklyn         Queens     4021
2   50013528                                 CARVEL ICE CREAM       Brooklyn  Staten Island       27
3   40396492                               ROYAL KING'S PIZZA       Brooklyn      Manhattan       68
4   50058248                                 NACHO MACHO TACO       Brooklyn         Queens     9507
5   40871752                       JIAN ON CHINESE RESTAURANT         Queens      Manhattan      151
6   50092588                                       BAGEL CLUB         Queens       Brooklyn     1902
7   50060077                                    LUNA PIZZERIA       Brooklyn       Brooklyn     1789
8   50050890                       BOHAUS COFFEE  AND FLOWERS       Brooklyn      Manhattan     2286
9   40373888                                        IL MULINO      Manhattan       Brooklyn     1020
10  41358740                                          DUNKIN'      Manhattan       Brooklyn     8703
11  41586413                                 CORNERSTONE CAFE      Manhattan       Brooklyn       86
12  50018980                                            MOKJA         Queens          Bronx     1220
13  41311453                                             BESO  Staten Island         Queens     2102
14  41008857                     KRISS WEST INDIAN RESTAURANT         Queens      Manhattan     3662
15  40892893                         MIRAGE DINER RESTAURAUNT       Brooklyn         Queens     6006
16  40381595                                          PIETROS      Manhattan      Manhattan      133
17  50066120                                            SAPPS         Queens      Manhattan      800
18  50010986                                     PONTY BISTRO      Manhattan       Brooklyn     1887
19  40365938                               NANCY'S RESTAURANT         Queens       Brooklyn      738
20  40829514                    CLINTON STREET BAKING COMPANY      Manhattan      Manhattan      626
21  50012220                                  REDSTONE ROCKET         Queens         Queens     3715
22  50014658                            INSOMNIA BAR & LOUNGE         Queens       Brooklyn       62
23  50044651                     BERBICE BAR  AND  RESTAURANT         Queens       Brooklyn     6422
24  41609166                          NO. 1 FLOWER DRUM HOUSE         Queens      Manhattan      972
25  41595314                                       PITA GRILL      Manhattan          Bronx     1007
26  50019166                                            MAITE       Brooklyn       Brooklyn      324
27  50061163                                        Soul Food       Brooklyn      Manhattan       55
28  50089765                                        PERK KAFE      Manhattan      Manhattan      811
29  41327462                             AMERICA GOURMET FOOD      Manhattan         Queens     5920
30  41592302                            GEMINIS II RESTAURANT       Brooklyn         Queens    10413
31  50076479                                     ESS & BENTCH       Brooklyn       Brooklyn     3169
32  50061459                       MUSIC HALL OF WILLIAMSBURG       Brooklyn      Manhattan     1190
33  41564527               THE ORIGINAL CULPEPPERS RESTAURANT       Brooklyn       Brooklyn      180
34  50033955                          CROWN CHICKEN & BISCUIT       Brooklyn          Bronx     2329
35  50048297                                     CAFE GOURMET       Brooklyn          Bronx     2829
36  50045788              CHINELOS II DELI-GROCERY RESTAURANT      Manhattan      Manhattan      370
37  41498400                                      THE BEDFORD       Brooklyn          Bronx     1504
38  50046516                             EL CASTILLO DE JAGUA       Brooklyn      Manhattan       28
39  41615940                                    MISTER HOTPOT       Brooklyn       Brooklyn     8121
40  41435697                                   FRANK'S TAVERN       Brooklyn         Queens    16102
41  50072380                                          POPEYES       Brooklyn          Bronx     3422
42  40815605                                           CHOP'T      Manhattan          Bronx      987
43  50084224                                       HALL / ODO      Manhattan       Brooklyn     2223
44  41709400                                 FU LAI O KITCHEN       Brooklyn      Manhattan      634
45  50070895                                        TAJ KEBAB       Brooklyn       Brooklyn     2050
46  41111038                    COLOMBIAN RESTAURANT & BAKERY       Brooklyn          Bronx     5625
47  41353612                                       SOHO SUSHI      Manhattan      Manhattan        2
48  50014212                                    CHICKEN SHACK         Queens         Queens      000
49  41498400                                      THE BEDFORD       Brooklyn       Brooklyn     4511
50  50061246                         EAST ONE COFFEE ROASTERS       Brooklyn      Manhattan       51
51  50074960                                     MONK MCGINNS      Manhattan         Queens    45-09
52  50068180                                    CRAZY WILLY'S         Queens  Staten Island      446
53  50069786                                          BAR 263      Manhattan      Manhattan       86
54  50059253                               CHINESE RESTAURANT         Queens          Bronx      223
55  41722947                            TANKO JAPANESE FUSION         Queens       Brooklyn      761
56  50057001                                 BED-STUY FISHFRY       Brooklyn         Queens    15815
57  41149575                               BRASSERIE RUHLMANN      Manhattan      Manhattan       98
58  50005784     ORGANIC FOOD, NATURAL JUICES AND COFFEE SHOP         Queens      Manhattan      673
59  40401445                                             IHOP       Brooklyn         Queens    16102
60  50062783                            TINA'S WHISKEY TAVERN  Staten Island         Queens     5716
61  50058444                                  TRACEY ANDERSON      Manhattan       Brooklyn     2114
62  50017599                        BLEND SALAD AND JUICE BAR       Brooklyn      Manhattan      126
63  50001763  TASTY DELICIOUS WEST INDIAN BAKERY & RESTAURANT       Brooklyn       Brooklyn     1137
64  50088437                             HELL'S KITCHEN PIZZA      Manhattan       Brooklyn      274
65  41486145                                AMBER STEAK HOUSE       Brooklyn      Manhattan      625
66  50059378                                         CHOUCHOU      Manhattan      Manhattan      231
67  41542651                                EL GIRASOL BAKERY       Brooklyn       Brooklyn       10
68  41391237                         EL MONUMENTAL RESTAURANT         Queens         Queens     7332
69  50042826                                  TAQUERIA LUPITA          Bronx       Brooklyn      120
70  41463601                                 JUAN VALDEZ CAFE      Manhattan      Manhattan      110
71  50012902                           NEW MING LIANG KITCHEN          Bronx       Brooklyn     1460
72  40653513                                           IHAWAN         Queens      Manhattan        5
73  50079182                                     PIZZA SECRET       Brooklyn       Brooklyn     2837
74  40365239                    DORRIAN'S RED HAND RESTAURANT      Manhattan       Brooklyn     7215
75  41169052                                  DAVE & BUSTER'S      Manhattan         Queens      818
76  41646976                                       JAHLOOKOVA      Manhattan         Queens   12432A
77  50042362                                        POSTITANO       Brooklyn      Manhattan      625
78  50051556                      JORDAN SNACK BAR AND BURGER      Manhattan      Manhattan        2
79  41074207                                 SMALLS JAZZ CLUB      Manhattan      Manhattan      127
80  50007074                                         BONAFINI       Brooklyn       Brooklyn     8520
81  41445748               GRAND CAFE (Metropolitan Hospital)      Manhattan  Staten Island      304
82  41374711                             NEW TU DO RESTAURANT      Manhattan      Manhattan        6
83  41126655                            Villa Pancho Taqueria       Brooklyn         Queens   133-30
84  40544044                              NIX MIX COFFEE SHOP         Queens         Queens     4201
85  50075837                                         DOMINO'S  Staten Island         Queens   149-06
86  41686208                                        CHANG PAI         Queens      Manhattan     4139
87  50012056                          JORA RESTAURANT AND BAR         Queens       Brooklyn     3821
88  40866304                                         DOMINO'S         Queens      Manhattan      37B
89  50058627            GLATT CONEY KOSHER CHINESE RESTAURANT       Brooklyn      Manhattan      135
90  50058350                             XIANG ZHI RESTAURANT       Brooklyn         Queens     2112
91  50039202                               10 BELOW ICE CREAM      Manhattan       Brooklyn      488
92  41627325                           NEW H.K. TEA AND SUSHI       Brooklyn       Brooklyn      157
93  50032968                       ELLIE'S DINER & RESTAURANT          Bronx         Queens    11930
94  50079121                        FORDHAM SEAFOOD & CHICKEN          Bronx      Manhattan     1109
95  50015134                                         SAPIENZA         Queens      Manhattan      300
96  50013400                                  SAHARA NEW YORK         Queens       Brooklyn     5902
97  40876297                                JERRY'S 637 DINER  Staten Island          Bronx    1322A
98  50066987                                    SUPREME DINER         Queens         Queens    13335
99  40376204                                        PORTOFINO         Queens       Brooklyn  5014-16